.website body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1170px;
  margin: auto;
}
header {
  background: url("https://www.b144.co.il/__dynamicMedia/2017_0_0.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.nav-area {
  float: right;
  list-style: none;
  margin-top: 30px;
}
.nav-area li {
  display: inline-block;
}
.nav-area li a {
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  font-family: poppins;
  font-size: 16px;
}
.nav-area li a:hover {
  background: black;
  color: white;
}
.welcome-text {
  position: absolute;
  width: 600px;
  height: 300px;
  font-family: Sans-serif;
  margin: 20% 30%;
  text-align: center;
}
.welcome-text h1 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 60px;
  font-family: Sans-serif;
}
.welcome-text a {
  border: 1px solid black;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Sans-serif;
  margin-top: 20px;
  display: inline-block;
  color: black;
}
.welcome-text a:hover {
  background: black;
  color: white;
}

.Loginpage body {
  margin: 0;
  font-family: Sans-serif;
  padding: 0;
  font-family: sans-serif;
  background: url("https://www.b144.co.il/__dynamicMedia/2017_0_0.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #141516;
  text-align: center;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10 px;
  width: 200px;
  font-family: Sans-serif;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #327dac;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10 px;
  width: 200px;
  font-family: Sans-serif;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: white;
  color: black;
}

.SignUpPage body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("https://www.b144.co.il/__dynamicMedia/2017_0_0.jpg");
  height: 100vh;
  font-family: Sans-serif;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.box1 {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #141516;
  text-align: center;
}
.box1 input[type="email"],
.box1 input[type="text"],
.box1 input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10 px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box1 h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box1 input[type="text"]:focus,
.box1 input[type="password"]:focus {
  width: 280px;
  border-color: #327dac;
}
.box1 input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10 px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box1 input[type="submit"]:hover {
  background: white;
  color: black;
}

.homepage1 body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("https://cdn.wallpapersafari.com/32/78/dTuctf.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.topoptions {
  width: 100%;
  background: #142b47;
  overflow: auto;
}
.topoptions ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
}
.topoptions li {
  float: left;
}
.topoptions ul li a {
  background: #142b47;
  text-decoration: none;
  width: 130px;
  display: block;
  text-align: center;
  color: #f2f2f2;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
.topoptions li a:hover {
  color: #fff;
  opacity: 0.5;
  font-size: 19px;
}
.search-form {
  margin-top: 15px;
  float: right;
  margin-right: 100px;
}
input[type="text"] {
  padding: 7px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}
button {
  float: right;
  background: orange;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: relative;
  padding: 7px;
  font-family: sans-serif;
  border: none;
  font-size: 16px;
}
.midoptions {
  float: left;
  width: 25%;
  padding: 5px;
  max-width: 1200px;
  margin: auto;
  overflow: auto;
}
.gallery {
  margin: 5px;
  border: 1px solid black;
  float: left;
  width: 300px;
}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
  color: black;
}

.AddAd body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("https://cdn.wallpapersafari.com/32/78/dTuctf.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.addobject {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  text-align: center;
}
.state input[type="text"],
.state input[type="submit"],
.state select {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10 px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.state h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.state[type="text"]:focus,
.addobject input[type="submit"]:focus,
.addobject select:focus {
  width: 280px;
  border-color: #327dac;
}

.AddReview {
  padding: 0;
  margin: 0;
  background: url("https://cdn.wallpapersafari.com/32/78/dTuctf.jpg");
}
.Review-box {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 500px;
}
.Review-box h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.Review-box input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #86b0b6;
}
.Review-box input:focus {
  border: 1px solid #000;
  outline: 0;
}
.Review-box textarea {
  width: 100%;
  height: 150px;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #86b0b6;
}
.Review-box textarea:focus {
  border: 1px solid #000;
  outline: 0;
}
.Review-box button {
  border: 0;
  padding: 10px 30px;
  background: #86b0b6;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
}
.Review-box button:hover {
  background-color: #718a8e;
}



.loginsuccess body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:url("https://www.b144.co.il/__dynamicMedia/2017_0_0.jpg");
    height: 100vh;
    font-family: Sans-serif;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.box2
{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  text-align: center;
}
.box2 h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box2 button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 14 px;
  width: 200px;
  font-family: Sans-serif;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  top:50%;
  left:-15%;
}
.box2 button[type="submit"]:focus {
  width: 280px;
  border-color: #327dac;
}

.box2 button[type="submit"]:hover{
  background: white;
  color: black;
}
.box2 strong{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.loginfailed body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:url("https://www.b144.co.il/__dynamicMedia/2017_0_0.jpg");
  height: 100vh;
  font-family: Sans-serif;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.box3
{
width: 300px;
padding: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: black;
text-align: center;
}
.box3 h3 {
color: white;
text-transform: uppercase;
font-weight: 500;
}
.box3 button[type="submit"] {
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid white;
padding: 14px 14 px;
width: 200px;
font-family: Sans-serif;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
top:50%;
left:-15%;
}
.box3 button[type="submit"]:focus {
width: 280px;
border-color: #327dac;
}

.box3 button[type="submit"]:hover{
background: white;
color: black;
}
.box3 strong{
color: white;
text-transform: uppercase;
font-weight: 500;
}